<mat-toolbar color="primary" class="flex-container">
  <div>
    <span>{{title}}</span>
    <!--<span [textContent]="title"></span>-->
    <a routerLink="/home" mat-button>
      <mat-icon>home</mat-icon>
      Accueil
    </a>
    <a [routerLink]="['/rooms/list']" mat-button>
      <mat-icon>room</mat-icon>
      Salles
    </a>
    <a [routerLink]="['/rooms/create']" mat-button>
      <mat-icon>add</mat-icon>
      Ajouter
    </a>
  </div>
  <div>
    <a *ngIf="!user; else logout" routerLink="/auth/login" mat-button>
      <mat-icon>locked_out</mat-icon>
      Se connecter
    </a>
    <ng-template #logout>
      Bonjour {{user?.name}}
      <a mat-button (click)="onLogout()">
        <mat-icon>locked_in</mat-icon>
        Se déconnecter
      </a>
    </ng-template>
  </div>

</mat-toolbar>


<router-outlet></router-outlet>

<footer>
  <app-top-five></app-top-five>
</footer>