<mat-toolbar color="primary" class="flex-container">
  <div>
    <span>{{title}}</span>
    <span [textContent]="title"></span>
    <a href="" mat-button>
      <mat-icon>home</mat-icon>
      Accueil
    </a>
    <a href="" mat-button>
      <mat-icon>room</mat-icon>
      Salles
    </a>
    <a href="" mat-button>
      <mat-icon>add</mat-icon>
      Ajouter
    </a>
  </div>
  <div>
    <a href="" mat-button>
      <mat-icon>locked_out</mat-icon>
      Se connecter
    </a>
  </div>

</mat-toolbar>